DISCORD_TOKEN=COLE_O_TOKEN_DO_BOT_AQUI
GUILD_ID=COLE_O_ID_DO_SERVIDOR_AQUI
HABITANTE_ROLE_ID=COLE_O_ID_DO_CARGO_HABITANTE_AQUI
VISITANTE_ROLE_ID=COLE_O_ID_DO_CARGO_VISITANTE_AQUI
PANEL_CHANNEL_ID=COLE_O_ID_DO_CANAL_CONCLUIR_ENTRADA_AQUI
LOG_CHANNEL_ID=
